.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 900;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	background-color: whitesmoke;
	max-width: 500px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	border-radius: 8px;
	position: relative;
}
.closeButton {
	position: absolute;
	top: -10px;
	right: 0;
	transform: translateY(-100%);
	font-size: 1rem;
	padding: 0.5rem;
	border-radius: 4px;
	background-color: gray;
	color: var(--black-2);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s ease all;
	z-index: -1;
	&:hover {
		background-color: #e32525;
		color: white;
	}
}
.formTitle {
	color: black;
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 2rem;
	text-transform: capitalize;
}
.form {
	width: 100%;
	label {
		font-size: 1rem;
		color: var(--black-1);
		input,
		select {
			margin-top: 0.5rem;
			margin-bottom: 1.5rem;
			width: 100%;
			padding: 1rem;
			border-radius: 4px;
			background-color: white;
			font-size: 1rem;
		}
	}
}
.buttonContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2rem;
	gap: 1rem;
}
  .delete_icon {
    margin-right: 5px;
    color: black;
  }
  
  .edit_icon {
    color: blue;
  }
  .todo_input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: black;
  }
  .todo_row {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin: 1px auto;
    color: black;
	font-size: 18px;
    background: linear-gradient(
      90deg,
      rgb(92, 162, 197) 0%,
      rgb(37, 166, 198) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 70%;
  }
  .delete_icon {
    margin-right: 2px;
    color: black;
  }
  .kanban {
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	text-align: center;
	padding: 8px;
	margin-bottom: 30px;
	background-color: #EEF2F9;
	border: 4px solid #E4E8F0;
	border-radius: 5px;
	width: 100%;
	height: 70%;
  }
  .task {
	padding: 10px;
	min-width: 230px;
	background-color: white;
	margin-top: 15px;
	border-radius: 5px;
	border: 1px solid #E4E8F0; 
	box-shadow: 4px 4px 0px -1px #d6dce7;
  }
  .button__left {
	margin-right: 30px;
  }
  .button__right {
	margin-left: 30px;
  }
  .button {
	padding: 5px;
	border: 1px solid #E4E8F0;
	border-radius: 5px;
	background-color: white;
	color:#86879d;
	cursor: pointer;
	font-size: 1.2rem;
  }
  .btn_mobile {
    display: flex;
    margin: 0 auto;
    margin-top: 5px;
    padding: 2px 8px 2px 8px;;;
  }

  .btn_desktop {
    display: none;
  }
  .column__container {
	display: flex;
	justify-content: stretch;
	
  }  
  .form {
	color: white;
	margin-top: 50px;
	min-height: 60px;;
	font-weight: 700;
	background-color: #94A9FB;
	border: 3px solid #8a9ef1;
	border-radius: 5px;
	justify-content: center;
	align-items: center;
  }
  .form__container {
	padding: 10px;
  }
  .form__submit {
	background-color: #140638;
	border: 1px solid #110236;
	color: white;
	cursor: pointer;
	box-shadow: none;
  }
  .column {
	padding: 10px;
	min-width: 200px;
	min-height: 700px;
	border-radius: 5px;
	margin: 5px;
	border: 4px solid #E4E8F0;
	background-color:  #F6F8FC;
	width: 25%;
	justify-content: stretch;
  }
  .col_first {
	padding: 10px;
  	min-width: 220px;
  	min-height: 600px;
  	border-radius: 5px;
  	margin: 5px;
  	border: 4px solid #E4E8F0;
  	background-color:  #F6F8FC;
  	width: 25%;
  	justify-content: stretch;
	border-top: 4px solid #D671AE;
  }
  .col_second {
	padding: 10px;
  	min-width: 220px;
  	min-height: 600px;
  	border-radius: 5px;
  	margin: 5px;
  	border: 4px solid #E4E8F0;
  	background-color:  #F6F8FC;
  	width: 25%;
  	justify-content: stretch;
	border-top: 4px solid #ffbd0a;
  }
  .col_third {
	padding: 10px;
  	min-width: 220px;
  	min-height: 600px;
  	border-radius: 5px;
  	margin: 5px;
  	border: 4px solid #E4E8F0;
  	background-color:  #F6F8FC;
  	width: 25%;
  	justify-content: stretch;
	border-top: 4px solid #8FABFB;
  }
  .col_fourth {
	padding: 10px;
  	min-width: 220px;
  	min-height: 600px;
  	border-radius: 5px;
  	margin: 5px;
  	border: 4px solid #E4E8F0;
  	background-color:  #F6F8FC;
  	width: 25%;
  	justify-content: stretch;
	border-top: 4px solid #6ddba6;
  }
  .task__header {
	display: flex;
	justify-content: center;
  }
  
  .task__delete {
	padding: 5px;
	border:none;
	margin-left: 158px;
	background-color: white;
	color:black;
	cursor: pointer;
	font-size: 1rem;
  }
  
  .task__delete:hover {
	color: red;
	font-weight: 600;
  }
.task {
    padding: 10px;
    min-width: 20%;
    margin-top: 15px;
	background-color: rgb(247, 234, 216);
	border: 1px solid #140638;
  }
  .input {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;;
    margin-left: 30px;;
    background-color: #C2CAF0;
    box-shadow: none;
    border: 1px solid #765cb6;
    justify-content: center;
    text-align: center;
  }
.input::placeholder {
    justify-content: center;
    color: #765cb6;
  }